/* Hotels Form */
.introSection {
  @apply flex flex-col items-center w-full min-h-screen relative;
}

.introContainer {
  @apply flex flex-col justify-center items-center w-full h-screen bg-cover bg-center;
  background-image: url('/asset/image/hotel.png');
}

.itemWrapper {
  @apply w-full mt-16 mb-16 md:w-11/12 flex flex-col;
}

.itemSection {
  @apply flex flex-col md:flex-row w-full;
}

.itemArea {
  @apply flex text-white m-4;
  color: rgba(255, 255, 255, 0.7);
}

.itemBox {
  @apply mx-2 font-thin;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.itemBox:hover {
  @apply font-semibold;
}

/* 공통 사이드바 폼 (Left) */

.itemLeftContainer {
  @apply bg-gray-50 w-full md:w-1/4;
  height: fit-content;
}

@media (max-width: 768px) {
  .itemLeftContainer {
    @apply w-full;
  }
}

.itemSideBar {
  @apply w-full;
}

.formContainer {
  @apply flex flex-col justify-center items-center w-full text-gray-600;
}

.formBox {
  @apply w-4/5 m-2;
}

.formBox input {
  @apply w-full h-16;
  border: 1px solid #ccc;
}

.formBox select {
  @apply w-full h-16 p-3;
  border: 1px solid #ccc;
}

.formBox input::placeholder {
  @apply text-gray-600 p-4;
}

.formBox .submitButton {
  @apply border-none bg-customRed text-white font-semibold h-16;
}

.formBox .formRange {
  position: relative;
  width: 100%;
  height: 4rem;
}

.formBox .formRange input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.3rem;
  background: #f85959;
  border: 1px solid #f85959;
  position: absolute;
  pointer-events: none;
  z-index: 0;
}

.formBox .formRange input[type='range']:focus {
  outline: none;
}

.formBox .formRange input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #f85959;
  cursor: pointer;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  pointer-events: all;
  position: relative;
  z-index: 4;
}

.slider {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider input {
  width: 100%;
  position: absolute;
  border: none;
  pointer-events: none;
  z-index: 3;
}

.slider input:first-child {
  top: 0;
}

.slider input:nth-child(2) {
  top: 0;
}

.slider input::-webkit-slider-thumb {
  pointer-events: all;
  width: 16px;
  height: 16px;
}

.track {
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #bdc3c7;
  border-radius: 1rem;
  z-index: 1;
}

.range {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #f85959;
  border-radius: 1rem;
  z-index: 2;
}

.thumb {
  position: absolute;
  top: -6px;
  width: 16px;
  height: 16px;
  background-color: #f85959;
  border-radius: 50%;
  z-index: 3;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.rangeValues {
  @apply flex justify-start my-4 w-full;
}

.datePickerWrapper {
  position: relative;
  width: 100%;
}

.datePicker {
  width: 100%;
  z-index: 9999;
}

/* Hotels List (Right) */

.itemRightContainer {
  @apply md:w-full;
}

.itemArea {
  @apply flex flex-wrap;
}

.itemBoxList {
  @apply flex flex-wrap w-full justify-center;
}

.itemCard {
  @apply flex flex-col mx-4 mb-6 w-full md:w-1/4;
}

.imageContainer {
  @apply w-full flex items-center justify-center h-64;
}

.imageContainer img {
  @apply w-full h-full object-cover;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  position: relative;
}

.cardSection {
  border: 1px solid #ccc;
}

.textContainer {
  @apply w-full flex flex-row justify-between h-28 items-center bg-white mt-4 px-2;
}

.textContainer h1 {
  @apply text-lg text-gray-700;
}

.textContainer p {
  @apply text-blue-600 font-bold;
  font-size:small;
}

.starRating span {
  @apply flex items-center mt-2 text-customRed;
}

.starRating span.ratingText {
  @apply text-sm text-customGray;
}

.detailContainer {
  @apply w-full h-44 px-2 items-start text-gray-700;
  line-height: 1.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.labelContainer {
  @apply flex items-center w-full h-1/5 mb-4;
  padding: 1rem;
}

.regionInfoItem {
  @apply flex w-9/12 text-nowrap text-ellipsis text-gray-700;
}

.regionBox {
  @apply ml-1 opacity-50;
  font-size: small;
}

.map {
  font-size: small;
  color: #4d4d4d;
  opacity: 0.5;
}

.btnItem {
  @apply flex justify-center items-center w-1/4 h-full;
  padding: 3px 5px;
}

.styledBtn {
  @apply flex justify-center items-center w-full h-4/5 rounded-md;
  background: #8bc34a;
  cursor: pointer;
}

.styledBtn p {
  color: white;
}
