.itemSection {
  @apply flex flex-col items-center w-full min-h-screen relative;
}

.itemContainer {
  @apply flex flex-col justify-center items-center w-full h-screen bg-cover bg-center;
  background-image: url('/asset/image/island.webp');
}

.itemArea {
  @apply flex text-white m-4;
  color: rgba(255, 255, 255, 0.7);
}

.itemBox {
  @apply mx-2 font-thin;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.itemBox:hover {
  @apply font-semibold;
}

.infoSection {
  @apply flex flex-col items-center w-full py-8 relative z-10 m-24;
}

.infoContainer {
  @apply flex flex-col md:flex-row justify-center w-full max-w-6xl mx-auto;
}

.itemDetailsContainer {
  @apply flex flex-col md:flex-col w-full md:ml-0;
}

.itemDescription {
  @apply w-11/12 md:flex-row mx-4;
}

.itemTextContainer {
  @apply flex flex-col md:flex-row justify-around w-full text-xl;
}

.infoItem {
  @apply flex flex-col md:flex-row justify-center bg-transparent h-16 w-full md:w-full text-customGray mb-4 md:mb-0;
}

.departmentInfo {
  @apply flex flex-col justify-center items-center w-full h-full transition-all duration-300 rounded-full;
}

.selected {
  @apply rounded-full w-11/12 bg-customBlue text-white mx-auto;
}

.descriptionSection {
  @apply mt-8;
}

.itemInfoSection {
  @apply flex flex-col justify-evenly items-center w-full;
  height: 70dvh;
}

.itemInfoContainer {
  @apply flex justify-center items-center h-4/5 w-full;
  /* width: 72rem; */
}

.itemImageContainer {
  @apply w-full;
}

.itemImageArea {
  @apply object-cover mb-8 p-4;
  flex: 1;
  max-width: 100%;
}

.itemImageArea img {
  @apply h-96 w-full object-cover;
}

.itemTextArea {
  @apply flex flex-col w-full h-full my-8;
  flex: 2;
}

.itemTextArea h1 {
  @apply text-2xl my-4;
}

.itemTextArea p {
  @apply text-sm;
  color: #4d4d4d;
  line-height: 1.6rem;
}

.faqsection {
  @apply flex flex-row justify-center items-center w-full p-24;
  background-color: #f8faff;
}

.faqContainer {
  @apply flex flex-col items-start w-full max-w-6xl;
}

.textArea {
  @apply text-left mb-8;
}

.cardContainer {
  @apply flex flex-wrap w-full mb-32;
}

.cardItem {
  @apply flex flex-row w-1/2;
  width: 100%;
}

.cardList {
  @apply w-full md:w-1/2 px-2;
}

.cardBox {
  @apply bg-white mb-4 relative;
  border: 1px solid #ccc;
}
.cardBox h3 {
  @apply p-4;
}

.cardBox p {
  @apply p-4;
}

.cardHeader {
  @apply w-full md:w-1/2 px-2;
}
.answer {
  @apply transition-all duration-300;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.answer.open {
  max-height: 500px;
  opacity: 1;
}
